@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  color: #B0B0B0;
}
a {
  color: #B0B0B0;
  display: block;
  text-decoration: none;
}
header {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  background: linear-gradient(to right, #FD4E39, #FB5A48);
}
header > img {
  margin: 0 auto;
  display: block;
}
header > #header-xia {
  width: 100%;
  height: 40px;
  background: #333333;
}
header > #header-xia > #kuan {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > #header-xia > #kuan > #lie {
  width: 770px;
  height: 40px;
  font-size: 12px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > #header-xia > #kuan > #lie > li {
  display: flex;
}
header > #header-xia > #kuan > #lie > li > a {
  height: 40px;
  line-height: 39px;
  position: relative;
}
header > #header-xia > #kuan > #lie > li > a:hover {
  color: #ffffff;
}
header > #header-xia > #kuan > #lie > li > a.xiazai > .xz {
  width: 124px;
  height: 149px;
  background: #ffffff;
  box-shadow: 0 3px 4px -1px #808080;
  text-align: center;
  position: absolute;
  left: -80%;
  display: none;
  line-height: 200px;
}
header > #header-xia > #kuan > #lie > li > a.xiazai > .xz > p {
  color: #000000;
  font-size: 14px;
}
header > #header-xia > #kuan > #lie > li > .xiazai > .xz::before {
  content: "";
  width: 10px;
  height: 10px;
  background: red;
  display: block;
}
header > #header-xia > #kuan > #lie > li > a.xiazai:hover > .xz {
  display: block;
}
header > #header-xia > #kuan > #lie > li > span {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #424242;
}
header > #header-xia > #kuan > #lie:nth-child(2) {
  width: 330px;
  height: 40px;
  justify-content: flex-end;
  margin-right: 20px;
}
header > #header-xia > #kuan > #shopping {
  width: 120px;
  height: 40px;
  background: #424242;
  font-size: 12px;
  position: relative;
}
header > #header-xia > #kuan > #shopping > a {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > #header-xia > #kuan > #shopping > a > .icon-gouwuche {
  margin-right: 5px;
}
header > #header-xia > #kuan > #shopping > a > span:nth-child(3) {
  margin-left: 5px;
}
header > #header-xia > #kuan > #shopping > #shopping-zhe {
  width: 316px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0 3px 4px -1px #808080;
  position: absolute;
  right: 0;
  display: none;
  color: #000000;
  text-align: center;
  line-height: 100px;
  font-size: 14px;
}
header > #header-xia > #kuan > #shopping:hover > a {
  background: #ffffff;
  color: #ff6700;
}
header > #header-xia > #kuan > #shopping:hover #shopping-zhe {
  display: block;
}
#nav {
  width: 100%;
  height: 100px;
}
#nav > #zhong {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav > #zhong > a {
  display: block;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  background-image: url(../../images/mi-logo.png);
  background-size: cover;
}
#nav > #zhong > a:hover {
  background-image: url(../../images/mi-home.png);
}
#nav > #zhong > #nav-lie {
  width: 590px;
  height: 100px;
  margin-left: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#nav > #zhong > #nav-lie > li > a {
  color: #000000;
}
#nav > #zhong > #nav-lie > li > a:hover {
  color: #ff6700;
}
#nav > #zhong > #sousuo {
  width: 294px;
  height: 48px;
  border: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav > #zhong > #sousuo > input {
  width: 226px;
  height: 48px;
  padding: 0px 10px 0px 10px;
  border: none;
  outline: none;
}
#nav > #zhong > #sousuo > a {
  width: 50px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-left: 1px solid #E0E0E0;
}
#nav > #zhong > #sousuo > a > span {
  font-size: 24px;
  color: #616161;
}
#nav > #zhong > #sousuo:hover {
  border-color: #B0B0B0;
}
#nav > #zhong > #sousuo:hover > a {
  border-color: #B0B0B0;
}
#lunbotu {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  background: cornflowerblue;
}
#lunbotu > #lbt-nav {
  width: 234px;
  height: 420px;
  background: rgba(105, 101, 101, 0.6);
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
}
#lunbotu > #lbt-nav > ul > li {
  width: 174px;
  height: 42px;
  list-style: none;
  margin: 0 auto;
  padding: 0 30px;
}
#lunbotu > #lbt-nav > ul > li > a {
  width: 174px;
  height: 42px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#lunbotu > #lbt-nav > ul > li:hover {
  background: #ff6700;
}
